body {
    background-color: #f1f3f5;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0));
}

div.post-title {
    color: #5772A5
}

.navbar-inner {
    background:transparent;
}